{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Profile  Update Form
{% endblock title %}
    
    {% block content %}
      <div class="row mt-5">
          <aside class="col-md-3"></aside>
          <aside class="col-md-6">
              <article class="card card-body">
                <h4>Update Profile</h4>

              <form  method="post">
                  <p>{% csrf_token %}
                  {{form1|crispy}}
                  {{form2|crispy}}
                  </p>
                  <button type="submit" class="btn btn-primary">Update</button>
              </form>
              </article>
          </aside>
          <aside class="col-md-3"></aside>

      </div>
    {% endblock content %}
        